* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}
 
  #intro{
 	background-color: #8a8c8a;
 	color: #FFFFFF;
 	height: 5%;	
 } 


 body { 
 	font: 20px;
	background-color:black;
}

 
 
 form { 
 	background: #000000; 
 	padding: 0px; 
 	position: fixed; 
 	bottom: 5px; 
 	width: 100%; 
 }
 
 form input { 
 	background-color: #0d0d0d;
 	border: 0; 
 	padding: 10px; 
 	width: 90%; 
 	margin-right: 0.5%; 
 }
 
 form button { 
	border: none; 
 	/*width: 9%; 
 	background: #00e600;
 	border: none; 
 	padding: 5px; 
 	font-size: 20px; */
 }
 
 #send{

	width:10%;
	height:100%;
	background-color: #000000;
	border-radius:100%;
}

 #sendimg{
	width:10%;
	height:100%;
	padding:0;
	margin:0;
	position:relative;
	right:0;
 }
 
 #messages { 

 	margin: 0; 
 	padding: 0; 
 	
 }
 
 #messages li { 
 	padding: 5px 10px; 
	 background: #049cfb; 
 }
 
 #messages li:nth-child(odd) { 
 	background: #f2f2f2; 
 }


#list{
	text-align: right;
}

#m{
	border-radius:20px;
	padding:15px;
	margin:0;
	width:80%;
	height:100%;
	color:white;
	
}
#messsagebox{
	color:#8a8c8a;
	border-radius:20px;
	border:#8a8c8a 1px solid;	
	background-color: #a60b0b;
	padding:0px;
	margin:0px;
}

